{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@icons": "./public/imgs",
          "@components": "./src/components",
          "@pages": "./src/pages"
        }
      }
    ]
  ]
}
